<div
  *ngIf="visible"
  class="fixed inset-0 bg-black bg-opacity-30 backdrop-blur-sm flex justify-center items-center"
>
  <div class="bg-white p-2 rounded w-72">
    <div class="grid grid-cols-1">
      <div class="fixed justify-start"></div>
      <br />
      <hr />
      <h1 class="font-sans text-center text-xl">The Ingredients are</h1>
      <h1 class="font-sans text-center texxt-xl">
        {{ induviduval.item1 }}
      </h1>
      <h1 class="font-sans text-center texxt-xl">
        {{ induviduval.item2 }}
      </h1>
      <h1 class="font-sans text-center texxt-xl">
        {{ induviduval.item3 }}
      </h1>
      <h1 class="font-sans text-center texxt-xl">
        {{ induviduval.item4 }}
      </h1>
      <h1 class="font-sans text-center texxt-xl">
        {{ induviduval.steps }}
      </h1>
    </div>
  </div>
</div>
